<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aviso de Privacidad</title>
    <link rel="stylesheet" href="avisoP.css" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap"
          rel="stylesheet" />
    <link href="https://unpkg.com/boxicons@2.0.5/css/boxicons.min.css"
          rel="stylesheet" />
</head>
<body>
    
    <main class="fondo">

        <section class="gallery" id="galeria">

            <div class="contenedor">
                <h2 class="subtitulo">Aviso de Privacidad</h2>

            </div>
        </section>
        <div class="contenedor-galeria">
            <iframe class="pdfview" type="application/pdf" src="AVISO_DE_PRIVACIDAD.pdf"></iframe>



        </div>

        
    </main>





</body>
</html>