<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>
        AVISO DE PRIVACIDAD
Clúster Automotriz Zona Centro, A.C. (también conocido como CLAUZ), con 
domicilio en calle Chinantla N° 10/1, Colonia La Paz, municipio de Puebla, en la 
entidad de Puebla, país México, C.P. 72160, y portal de internet www.clauz.mx, es 
el responsable del uso y protección de sus datos personales, y al respecto le 
informamos lo siguiente: 
¿Para qué fines utilizaremos sus datos personales? Los datos personales que 
recabamos de usted, los utilizaremos para las siguientes finalidades que son 
necesarias para el servicio que solicita, brindamos u ofrecemos: Altas para pagos, 
Facturación, Auditorías, Confirmación de Auditorías, Proyectos, prospección 
comercial, avisos de pago (cobro), referencias comerciales, servicios que son 
brindados o prestados por CLAUZ directamente, a través de despachos contables 
externos, jurídicos y/o autoridades competentes, pagos a proveedores, bitácora de 
entradas y salidas, seguridad/control de acceso y salida de personal ajeno al 
domicilio de CLAUZ.
De manera adicional, utilizaremos su información personal para las siguientes 
finalidades secundarias que no son necesarias para el servicio solicitado, pero que 
nos permiten y facilitan brindarle una mejor atención del grupo al que pertenece 
REDCAM: Almacenamiento de datos en una base de proveedores y clientes para 
referencias comerciales entre los integrantes del grupo corporativo. En caso de que 
no desee que sus datos personales se utilicen para este fin secundario, deberá 
indicarlo de forma expresa y por escrito a mdoger@clauz.mx señalando con claridad 
que i) no desea que sus datos personales sean almacenados para compartirlos con 
el grupo corporativo y/o ii) referencias de negocios comerciales con usted; o en 
nuestra dirección física mediante escrito libre y firmado en original por el titular de 
los datos personales, con copia legible de identificación oficial, con copia de acuse. 
La negativa para el uso de sus datos personales para esta finalidad no podrá ser un 
motivo para que le neguemos los servicios y productos que solicita o contrata con 
nosotros.
¿Qué datos personales utilizaremos para estos fines? Para llevar a cabo las 
finalidades descritas en el presente aviso de privacidad, utilizaremos los siguientes 
datos personales: Nombre, Registro Federal de Contribuyentes, Domicilio fiscal, 
Domicilio particular, teléfono, tipo de proveedor (servicios, materiales, otros), correo 
electrónico personal e institucional, datos bancarios (banco, sucursal, cuenta de 
beneficiario, moneda, cuenta bancaria, clave, Swift), puesto o cargo, documentación
corporativa y fiscal, así como referencias comerciales.
¿Con quién compartimos su información personal y para qué fines? Le informamos 
que sus datos personales son compartidos dentro y fuera del país con las empresas 
asociadas, subsidiarias, afiliadas, asociadas, holding y organizaciones distintas a 
nosotros, para los siguientes fines: Conocimiento de los proveedores y clientes, 
productos y/o servicios que brindan y/o adquieren, lugar de prestación de los 
servicios, costos y precios, datos de ubicación (nombre, domicilio, teléfono), con 
prestadores de servicios relacionados con el objeto social de CLAUZ. La negativa 
para el uso de sus datos personales deberá ser expresa y por escrito al correo 
rguzman@clauz.mx o en nuestra dirección física mediante escrito libre y firmado en 
original por el titular de los datos personales, con copia legible de identificación 
oficial, con copia de acuse. La no negativa expresa al respecto por un plazo de 8-
ocho días posteriores a proporcionar los datos personales se entenderá como una 
afirmativa, hasta en tanto no sea de forma expresa realizada la negativa.
¿Cómo puede acceder, rectificar o cancelar sus datos personales, u oponerse a su 
uso? Usted tiene derecho a conocer qué datos personales tenemos de usted, para 
qué los utilizamos y las condiciones del uso que les damos (Acceso). Asimismo, es 
su derecho solicitar la corrección de su información personal en caso de que esté 
desactualizada, sea inexacta o incompleta (Rectificación); que la eliminemos de 
nuestros registros o bases de datos cuando considere que la misma no está siendo 
utilizada adecuadamente (Cancelación); así como oponerse al uso de sus datos 
personales para fines específicos (Oposición). Estos derechos se conocen como 
derechos ARCO. 
Para el ejercicio de cualquiera de los derechos ARCO, usted deberá presentar la 
solicitud respectiva a través del siguiente medio: mdoger@clauz.mx.
El procedimiento para el ejercicio de los derechos ARCO, estará a su disposición 
en el siguiente medio: rguzman@clauz.mx. Así mismo se señalan los requisitos para 
el ejercicio de los derechos ARCO: deberá indicar con precisión en idioma español, 
sin abreviaturas, nombre completo y domicilio físico para darle respuesta, firma 
autógrafa, copia de identificación oficial vigente, describiendo de forma clara y 
sucinta (precisa) los datos personales a los que desea acceder, rectificar, cancelar 
u oponerse, además de los requisitos que establezca la Ley Federal de Protección 
de Datos Personales en Posesión de los Particulares, su Reglamento y demás 
disposiciones aplicables.
¿Qué datos personales utilizaremos para estos fines? Para llevar a cabo las 
finalidades descritas en el presente aviso de privacidad, utilizaremos los siguientes 
datos personales: Nombre, Registro Federal de Contribuyentes, Domicilio fiscal, 
Domicilio particular, teléfono, tipo de proveedor (servicios, materiales, otros), correo 
electrónico personal e institucional, datos bancarios (banco, sucursal, cuenta de 
beneficiario, moneda, cuenta bancaria, clave, Swift), puesto o cargo, documentación
corporativa y fiscal, así como referencias comerciales.
Los datos de contacto de la persona o departamento de datos personales, que está 
a cargo de dar trámite a las solicitudes de derechos ARCO, son los siguientes:
A. Nombre de la persona o departamento de datos personales: Mónica Adriana 
Doger Ramírez
B. Domicilio: Osa Mayor N° 2523, Colonia Reserva Territorial Atlixcáyotl, 
municipio de Puebla, en la entidad de Puebla, país México, C.P. 72193.
C. Correo electrónico: mdoger@clauz.mx
D. Número telefónico: +52 (222) 324 7711
Toda respuesta a solicitudes completas se realizará dentro del plazo máximo de ley 
o dentro de 20-veinte días, detallando la procedencia o no de la solicitud planteada 
y los motivos de la misma, en caso de ser procedente la solicitud planteada, CLAUZ 
realizará las acciones para que dentro del plazo de 15-quince días o plazo máximo 
de ley posteriores a la notificación de la respuesta, se atienda la determinación 
tomada. Los plazos podrán ampliarse o modificarse conforme a las normas 
aplicables. 
Usted puede revocar su consentimiento para el uso de sus datos personales Para 
revocar el consentimiento que, en su caso, nos haya otorgado para el tratamiento 
de sus datos personales. Sin embargo, es importante que tenga en cuenta que no 
en todos los casos podremos atender su solicitud o concluir el uso de forma 
inmediata, ya que es posible que por alguna obligación legal requiramos seguir 
tratando sus datos personales. Asimismo, usted deberá considerar qué para ciertos 
fines, la revocación de su consentimiento implicará que no le podamos seguir 
prestando el servicio que nos solicitó, o la conclusión de su relación con nosotros 
por ser los datos elementos indispensables para la relación comercial. Para revocar 
su consentimiento deberá presentar su solicitud a través del siguiente medio: 
Colocar e mail jurídico. Para conocer el procedimiento y requisitos para la 
revocación del consentimiento, ponemos a su disposición el siguiente medio: 
Colocar e mail jurídico, siendo que en todo caso deberá indicar con precisión en 
idioma español, sin abreviaturas, nombre completo y domicilio físico para darle 
respuesta, firma autógrafa, copia de identificación oficial vigente, describiendo de 
forma clara y sucinta (precisa) los datos personales que desea revocar, además de 
los requisitos que establezca la Ley Federal de Protección de Datos Personales en 
Posesión de los Particulares, su Reglamento y demás disposiciones aplicables.
¿Cómo puede limitar el uso o divulgación de su información personal? Con objeto 
de que usted pueda limitar el uso y divulgación de su información personal, le 
ofrecemos el siguiente medio: rguzman@clauz.mx. Lo anterior como se ha 
señalado en el apartado de con quien compartimos su información y finalidades 
secundarias, deberá señalarse de forma clara, sucinta (precisa), en idioma español 
sin abreviaturas, nombre completo y domicilio físico, firma autógrafa, con copia de 
identificación oficial vigente y acuse de recibo, los datos personales que desea sean 
limitados o divulgados.
¿Cómo puede conocer los cambios en este aviso de privacidad? El presente aviso 
de privacidad puede sufrir modificaciones, cambios o actualizaciones derivadas de 
nuevos requerimientos legales; de nuestras propias necesidades por los productos 
o servicios que ofrecemos; de nuestras prácticas de privacidad; de cambios en 
nuestro modelo de negocio, o por otras causas.
Nos comprometemos a mantener informado al público sobre los cambios que pueda 
sufrir el presente aviso de privacidad, a través del anuncio que corresponda en 
nuestro domicilio físico. Su consentimiento para el tratamiento de sus datos 
personales Al otorgar sus datos personales a CLAUZ, se consiente que sus datos 
personales sean tratados y divulgados (transferidos) de conformidad con los 
términos y condiciones informados en el presente aviso de privacidad y a través de 
los medios legales, por tácita afirmativa (no oposición), por escrito en los avisos 
integral, simplificado y corto, correos electrónicos y medios legales conforme a la 
Ley Federal de Protección de Datos Personales en Posesión de Particulares
    </h2>
</body>
</html>